modules = ["web", "python-3.11", "nodejs-20", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "rustc", "sshpass", "openssh"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev"

[[workflows.workflow]]
name = "dev"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "npm run build"
mode = "sequential"
author = 45067223

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow]]
name = "Production"
author = 45089907
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"


[deployment]
deploymentTarget = "autoscale"
run = ["python3", "server.py"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 36451
externalPort = 8080


